{% extends 'default.html' %}
{% block navbar %}{% include 'navbar.html' %}{% endblock %}

{% block body %}
<div class="col-md-4">
	<center>
		<a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-primary" id="btn-circle-lg"><span class="glyphicon glyphicon-home"></span></a>		
	</center>
</div>
<div class="col-md-4">
	<center>
		<a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-primary" id="btn-circle-lg"><span class="glyphicon glyphicon-book"></span></a>		
	</center>
</div><div class="col-md-4">
	<center>
		<a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-primary" id="btn-circle-lg"><span class="glyphicon glyphicon-thumbs-up"></span></a>		
	</center>
</div>
{% endblock %}