{% block body %}

<nav class="navbar navbar-default" style="background-color: rgba(255, 26, 26, 0.7); padding-top: 20px; padding-bottom: 20px; margin-bottom: 20px; ">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bank Marah</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
            <li><a href="#">Page 2</a></li>
            <li><a href="#">Page 3</a></li>
        </ul>
    </div>
</nav>

{% endblock %}