<!-- top nav -->
<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom navbar-custom" id="startchange" style="padding:11px;">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">Bank Marah</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li {% if request.path == '/' %}class="active"{%endif%}><a href="/">Home</a></li>
	      <li {% if request.path == '#' %}class="active"{%endif%}><a href="#">Timeline</a></li>
	      <li><a href="#">Quotes</a></li>
	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	    	<li class="dropdown">
	    		<a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span></a>
	    		<ul class="dropdown-menu">
	    			<li><a href="/logout/">Logout</a></li>
	    		</ul>
	    	</li>
	    </ul>
	</div>
</nav>
<!-- /top nav -->
